<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST" "> <!-- for malter use enctype enctype="multipart/form-data -->
  <!--what we  get from  the input box  now we will show -->
  <!-- but for this we need a pacage "npm i body-parser " for accessing input element easily-->
  <%- include('_form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Update</button>
</form>
