<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST" "> <!-- for malter use enctype enctype="multipart/form-data -->
  <!--what we  get from  the input box  now we will show -->
  <!-- but for this we need a pacage "npm i body-parser " for accessing input element easily-->
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button  class="btn btn-primary" type="submit">Update</button>
  </div>

</form>
