<h2 class="page-header">New Book</h2>
<form action="/books" method="POST" "> <!-- for malter use enctype enctype="multipart/form-data -->
  <!--what we  get from  the input box  now we will show -->
  <!-- but for this we need a pacage "npm i body-parser " for accessing input element easily-->
  <%- include('_form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>
