<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value="<%=author.name %>" />
    <!-- getting input -->
    <!-- we actually set name as name because ,from req body we are getting name and sent to datbase -->
  </div>
</div>
